################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSRSQuery/SSRSQuery/bin/Debug
/SSRSQuery/SSRSQuery/obj
/.vs
/SSRSQuery/.vs/SSRSQuery
